{{!-- https://handlebarsjs.com/guide/#html-escaping
Because it was originally designed to generate HTML, Handlebars escapes values returned by a {{expression}}. If you
don't want Handlebars to escape a value, use the "triple-stash", {{{ }}} --}}

<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <script src='https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4'></script>
</head>
<body class="text-xs">
    {{> patientInfo}}
      {{{body}}}
</body>

</html>