<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <style>
        .footer {
            background-color: #FAFAFA;
            
            width: 100%;
            font-family: 'Roboto', sans-serif;
            font-size: 8px;
            padding: 9px 0;
        }
        
        .footer-content {
            display: flex;
            justify-content: space-between;
            margin: 0 22px;
        }
        
        .footer-left {
            width: 50%;
            line-height: 1.5;
        }
        
        .footer-right {
            width: 50%;
            line-height: 1.5;
            display: flex;
        }
        
        .labels {
            width: 70px;
        }
        
        .values {
            flex-grow: 1;
        }
        
        .logo-container {
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    </style>
</head>

<body>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-left">
                <div>Contains confidential health information</div>
                <div>California Heights</div>
                <div>P: 999-999-9099 F: 123-123-9999</div>
            </div>
            <div class="footer-right">
                <div class="labels">
                    <div>page:</div>
                    <div>printed by:</div>
                    <div>using:</div>
                </div>
                <div class="values">
                    <div>{{page}} of {{total}}</div>
                    <div>John SN</div>
                    <div>MUSA Healthcare</div>
                </div>
                <div class="logo-container">
                    <img src="assets/musaLogo.png" width="40" height="40" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>