<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <style>
        .header {
            background-color: #FAFAFA;
            border-bottom: 0.8rem solid #efeeee;
            padding: 0.8rem 2rem;
            width: 100%;
            font-family: 'Roboto', sans-serif;
            font-size: 8px;
            line-height: 1.79;
        }
        
        table {
            width: 100%;
        }
        
        .left {
            width: 50%;
            text-align: left;
            font-weight: 500;
            
        }
        
        .label {
            width: 10%;
            text-align: left;
        }
        
        .value {
            width: 40%;
            text-align: left;
        }
    </style>
</head>

<body>
    <div class="header">
        <table>
            <tr>
                <td class="left">Doe, John</td>
                <td class="label">MRN:</td>
                <td class="value">{{patientId}}</td>
            </tr>
            <tr>
                <td class="left">485 PLAN OF CARE & HOME HEALTH CERTIFICATION</td>
                <td class="label">Signed:</td>
                <td class="value">{{signedStatus}}</td>
            </tr>
        </table>
    </div>
</body>
</html>