<div class="mb-4 px-[5px]">
  <div class="bg-gray-100 px-[25px] py-[5px] text-[12px] font-normal uppercase">
    {{title}}
  </div>
  <div class="px-[25px] py-[5px] text-[13px]">
    {{#if content}}{{content}}{{else}}{{defaultContent}}{{/if}}
  </div>
</div>