<body class="text-xs">
  {{> section 
    title="subject" 
    content=subject 
    defaultContent="Subject content goes here"
  }}
  
  {{> section 
    title="Description" 
    content=description 
    defaultContent="Description content goes here"
  }}
  
  {{> section 
    title="Prior Corresponding and Coordination" 
    content=priorCorresponding 
    defaultContent="Prior corresponding and coordination content goes here"
  }}
  
  {{> section 
    title="Signature" 
    content=physicianSignature 
    defaultContent="Physician's Signature and date go here"
  }}
</body>